<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Hyper Readings</title>
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="./styles.css">
</head>
<body>
  <header>
    <img src="./hyperreading-icon.svg" />
    <h1>Hyper Readings</h1>
  </header>
  <section>
    <h2 id="about">About</h2>
    <hr/>
    <p>Reading lists are aesthetic objects that both organise and produce knowledge. They are paths in, through, and between things. Sharing what we read, what we want to read, and what we think other people should read becomes a form of peer to peer education, the propagation of informal and personal canons. <strong>Reading lists become a kind of writing - a writing of reading.</strong></p>
    <p>More and more, reading lists are being used as tools for contesting established patterns in public thinking, but also, importantly, for publicly making sense of our current times. <strong>They are becoming almost like manifestos, or provocations for the future.</strong></p>
    <p>HyperReadings is a distributed archival infrastructure for writing, sharing, navigating and adapting ‘reading lists’. Where a ‘reading’ is anything that can be read, this includes texts, images, films, digital and non-digital objects.</p>
    <p>As free and open source software, HyperReadings is being developed and maintained by Sean Dockray and Benjamin Forster.</p>
    <p>Read more about the context of the project in the <a href="https://sdockray.github.io/hyperreadings/">README.md</a>.</p>
  </section>
  <section>
    <h2 id="about">Using Hyper Readings</h2>
    <hr/>
    <p>At the moment HyperReadings is still in alpha. It is not stable and is currently under active development and is likely to change dramatically.</p>
    <p>To get a copy of the software, follow the instructions on the <a href="https://github.com/e-e-e/hyper-reader#installation">Hyper-Reader GitHub page</a>.</p>
    <p>You can help us develop hyper-readings in two ways:</p>
    <ol>
      <li>Use the software and report any issues you encounter <a href="https://github.com/e-e-e/hyper-reader/issues">here</a>.</li>
      <li>If your a developer, jump into the source code and help solve reported issues.</li>
    </ol>
  </section>
  <section>
    <h2 id="about">Reading Lists</h2>
    <hr/>
    <p>This is a curated collection of reading lists that are currently available through HyperReadings.</p>
    <ul>
    <% lists.forEach(function(list) { %>
        <li><h4><%= list.title %></h4><div class="key"><%= list.key %></div></li>
    <% }); %>
    </ul>
    <p><strong>How to view these Reading Lists</strong></p>
    <ol>
      <li>Install <a href="https://github.com/e-e-e/hyper-reader#installation">Hyper Reader</a></li>
      <li>Import any of these lists by their unique key.</li>
    </ol>
  </section>
  <footer>
    <hr/>
  </footer>
</body>
</html>
